@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Noto+Sans+JP&display=swap');
:root {
    --headings: #66FCF1;
    --text:  #C5C6C7;
    --background: #1F2833;
    --headings-font-family: 'Alumni Sans', sans-serif;
    --text-font-family: 'Noto Sans JP', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    text-align: center;
    font-family: var(--text-font-family);
    color: var(--text);
}
h2{
    color: var(--headings);
    font-family: var(--headings);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

p {
    line-height: 2;
}

hr {
    border: dotted var(--text) 16px;
    border-bottom: none;
    margin: 5rem auto;
    width: 10%;
}

.middle-container {
    margin: 5rem 0;
}

.profile-img {
    margin: 0 auto;
    margin-left: -36%;
    width: auto;
    height: 100%;

}

.image-cropper {
    width: 450px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}


/*h1 {
    font-family: var(--headings-font-family);
}*/