@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Noto+Sans+JP&display=swap');
:root {
    --headings: #66FCF1;
    --text:  #C5C6C7;
    --background: #1F2833;
    --headings-font-family: 'Alumni Sans', sans-serif;
    --text-font-family: 'Noto Sans JP', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    text-align: center;
    font-family: var(--text-font-family);
    color: var(--text);
}
h2{
    color: var(--headings);
    font-family: var(--headings-font-family);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

p {
    line-height: 2;
}

hr {
    border: dotted var(--text) 16px;
    border-bottom: none;
    margin: 5rem auto;
    width: 10%;
}

.middle-container {
    margin: 5rem 0;
}

.profile-img {
    margin: 0 auto;
    margin-left: -36%;
    width: auto;
    height: 100%;

}

.image-cropper {
    width: 450px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}


/*h1 {
    font-family: var(--headings-font-family);
}*/

.skill-row {
    width: 50%;
    text-align: left;
    margin: 2rem auto;
    overflow: hidden;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 2rem;
}

.hobby-img {
    width: 25%;
    float: right;
}

.btn {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  .btn:active {
    background-color: black;
  }
  
  .btn:visited {
    background-color: #ccc;
  }

.bottom-link {
    display: inline-block;
    margin: 1rem;

}

.li-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-wrapper i {
    margin-right: 1rem;
}

.li-wrapper a {
    text-decoration: none;
    color: var(--text);
}

.copyright {
    margin: 5rem;
}